* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

header, 
main,
footer {
    max-width: 700px;
    font-size: 16px;
    font-family: 'Dosis', 'Verdana', sans-serif;
}
 
header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #457b9d;
    box-shadow: 0 0 10px #555;
    border-radius: 15px;
}

header img {
    max-width: 85%;
    height: auto;
    border: 0.5px solid #F4EAD5;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 0 10px #555;
}

header h1 {
    grid-column: 2 / span 3;
    font-size: 2.5rem;
    color: #F4EAD5;
}

main {
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid; 
    grid-template-columns: 1fr;
}

main h2 {
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
    font-size: 1.75rem;
    padding: 15px;
    margin: 0;
}
.lesson-nav {
    font-family: 'Ubuntu', 'Helvetica', sans-serif;
    border-top: 5px solid #d8bfd8;
    border-bottom: 5px solid #d8bfd8;
    
    padding: 10px;
    margin: 0;
}

.lesson-nav li {
    font-size: 1.3rem;
    padding: 12px;
}

footer {
    border-radius: 15px;
    background-color: #457b9d;
    height: 10vh;
    padding: 15px;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
}

footer p {
    color: #F4EAD5;
    font-size: 1.25rem;
    padding: 5px;
}

#last-updated {
    color: #d8bfd8;
    padding: 5px;
}